extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.js')

  textarea#message
  button(onclick='sendRoomMessage()')
    Send

  div#messages
  div#playerdata
