extends layout

block content

  #loginBox
    h1= title
    form(action="submit", method="GET")
      input(type="text", placeholder="Username..")
      input(type="password", placeholder="Password")
      input(type="submit", value="Login")
